<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codemix.hsc_ict">

    <application
        android:name=".app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Course" />

        <activity android:name=".message" />

        <activity android:name=".contact" />

        <activity android:name=".exam" />

        <activity android:name=".registration" />

        <activity android:name=".About" />

        <activity android:name=".short6" />

        <activity android:name=".short5" />

        <activity android:name=".short4" />

        <activity android:name=".short3" />

        <activity android:name=".short2" />

        <activity android:name=".short1" />

        <activity android:name=".mcq6" />

        <activity android:name=".mcq5" />

        <activity android:name=".mcq4" />

        <activity android:name=".mcq3" />

        <activity android:name=".mcq2" />

        <activity android:name=".mcq1" />

        <activity android:name=".startearning" />

        <activity android:name=".mcqquestion" />

        <activity android:name=".shortquestion" />

        <activity android:name=".welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7945850134098152~6823121897" />
    </application>

</manifest>